<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
      <ul>
        <li>Group Management System</li>
      </ul>
    </nav>
    <div class="container">
        <h2>Change Password</h2>
        <form action="/auth/ChangePassword" method="POST">
            <div class="form-group">
                <label for="Email ID">Email ID:</label>
                <input type="text" id="EmailID" name="EmailID" required>
            </div>
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Change Password</button>
            </div>
        </form>

        <br>
        <br>

        <a href="/Home" class="btn btn-info btn-lg">
            <button> Home </button>
        </a>
        {{#if message}}
            <h3>{{message}}</h3>
        {{/if}}
    </div>
</body>
</html>