<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
      <ul>
        <li>Group Management System</li>
      </ul>
    </nav>
    <div class="container">
        <h2>Change Password</h2>
        <form action="/auth/ChangePassword" method="POST">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <div class="form-group">
                <button type="submit">Change Password</button>
            </div>
        </form>

        <br>
        <br>

        <a href="/Home">
            <button> Home </button>
        </a>
        {{#if message}}
            <h3>{{message}}</h3>
        {{/if}}
    </div>

    <script>
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');

        function validatePassword() {
            if (password.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity('Passwords do not match');
            } else {
                confirmPassword.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirmPassword.onkeyup = validatePassword;
    </script>
</body>
</html>