<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            background-color: #222; /* Dark background color */
            color: #00FF00; /* Green text color */
            font-family: Arial, sans-serif; /* Font family */
            margin: 0;
            padding: 0;
            text-align: center;
        }
        h1 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <nav>
      <ul>
        <li><h1>Group Management System</h1></li>
      </ul>
    </nav>
    <h1>Welcome {{EmailID}}</h1>
    <h2> Your token is {{token}}</h2>
    <br>
    <a href="/LogOut" class="btn btn-info btn-lg">
        <button> Log Out </button>
    </a>

    <br>
    <br>

    <a href="/ChangePassword" class="btn btn-info btn-lg">
        <button> ChangePassword </button>
    </a>
</body>
</html>
