<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Profile Page</h1>
    <p> Welcome, {{Teacher_FName}} {{Teacher_LName}}</p>
    <p>Teacher ID: {{Teacher_ID}}</p>
    <p>Email ID: {{EmailAddress}}</p>

    <nav>
        <a href="/Home" class="btn">Home</a>
        <a href="/ChangePassword" class="btn">Change Password</a>
        <a href="/LogOut" class="btn">Log Out</a>
    </nav>
</body>
</html>