body {
    background-image: url('/img/home.jpg');
    background-color: #716f6f; /* Dark background color */
    color: #5e5c5c; /* Green text color */
    font-family: Arial, sans-serif; /* Font family */
    margin: 0;
    padding: 0;
    text-align: center;
}
.bubble {
    width: 120px;
    height: 120px;
    background-color: rgba(242, 241, 245, 0.5); /* Transparent background color */
    border-radius: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
}

/* Apply animation for continuous movement */
@keyframes moveBubble {
    0% { transform: translate(-50%, -50%); }
    50% { transform: translate(100px, 100px); }
    100% { transform: translate(200px, 200px); }
}

/* Apply animation to the bubble */
.bubble.move {
    animation: moveBubble 5s linear infinite;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     /* Darker background color for the navbar */
}

.nav-right {
    margin-left: auto;
}
.btn {
    background-color: #555; /* Button background color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #777; /* Darker background color on hover */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px; /* Negative margin to counteract padding */
}

.card {
    width: calc(33.33% - 20px); /* Adjust the width to fit 3 cards in a row */
    background-color: #f2f1f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(127, 223, 24, 0.1);
    margin: 10px; /* Adjust margin to create space between cards */
}

.card-content {
    padding: 20px;
}
