<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/Student/home.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Group Management System</h1>
        </div>
        <div class="nav-right">
            {{!-- <a href="/ProfilePage" class="btn">Profile Page</a> --}}
            <a href="/LogOut" class="btn">Log Out</a>
            <a href="/Student/JoinCourse" class="btn">Join Course</a>
        </div>
    </nav>
</body>
</html>
