<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/Student/JoinCourse" method="POST">
            <div class="form-group">
                <label for="Course_ID"> Course ID</label>
                <input type="text" id="Course_ID" name="Course_ID" required>
            </div>
            <div class="form-group">
                <button type="submit">Join</button>
            </div>
        </form>
        {{#if message}}
            <h3>{{message}}</h3>
        {{/if}}
    </div>
</body>
</html>